################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/AzureDevOpsListHistoricPRs
/.vs/AzureDevOpsPRCSVExport/v17
/.vs
/AzureDevOpsListHistoricPRs/obj
/AzureDevOpsListHistoricPRs/obj/Debug/net7.0
/AzureDevOpsListHistoricPRs/bin
/AzureDevOpsListHistoricPRs/bin/Debug/net7.0
/.vscode

*.suo
*.user
bin
obj
packages
*.pdb
*.exe
*.dll
.cache
.editorconfig
