################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/AzureDevOpsListHistoricPRs
/.vs/AzureDevOpsPRCSVExport/v17
/.vs
/AzureDevOpsListHistoricPRs/obj
/AzureDevOpsListHistoricPRs/obj/Debug/net7.0
/AzureDevOpsListHistoricPRs/bin
/AzureDevOpsListHistoricPRs/bin/Debug/net7.0
/.vscode

*.suo
*.user
bin
obj
packages
*.pdb
*.exe
*.dll
.cache
.editorconfig
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.pdb
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.genruntimeconfig.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.GeneratedMSBuildEditorConfig.editorconfig
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.FileListAbsolute.txt
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.CoreCompileInputs.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.AssemblyReference.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.assets.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/apphost.exe
AzureDevOpsListHistoricPRs/obj/project.nuget.cache
AzureDevOpsListHistoricPRs/obj/project.assets.json
AzureDevOpsListHistoricPRs/obj/AzureDevOpsListHistoricPRs.csproj.nuget.g.props
AzureDevOpsListHistoricPRs/obj/AzureDevOpsListHistoricPRs.csproj.nuget.dgspec.json
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.pdb
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.exe
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/obj/AzureDevOpsListHistoricPRs.csproj.nuget.dgspec.json
AzureDevOpsListHistoricPRs/obj/project.nuget.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/apphost.exe
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.assets.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.AssemblyReference.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.CoreCompileInputs.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.csproj.FileListAbsolute.txt
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.GeneratedMSBuildEditorConfig.editorconfig
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.genruntimeconfig.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/AzureDevOpsListHistoricPRs.pdb
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/ref/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/refint/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.dll
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.exe
AzureDevOpsListHistoricPRs/bin/Debug/net7.0/AzureDevOpsListHistoricPRs.pdb
AzureDevOpsListHistoricPRs/obj/AzureDevOpsListHistoricPRs.csproj.nuget.dgspec.json
AzureDevOpsListHistoricPRs/obj/AzureDevOpsListHistoricPRs.csproj.nuget.g.props
AzureDevOpsListHistoricPRs/obj/project.assets.json
AzureDevOpsListHistoricPRs/obj/project.nuget.cache
AzureDevOpsListHistoricPRs/obj/Debug/net7.0/apphost.exe
